<!doctype html>
<html lang="en">
    <head>
        <title>Vai ter Copa?</title>
        <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
        <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
        <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
